.header {
    background:  hsla(200, 80%, 70%, 0.2);
    padding: 0.5rem;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.logo {
    height: 100px;
    width: 180px;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
    color: var(--color-main);
    margin-right: 2rem;
    font-size: 1.2rem;
}

.search{
    position: absolute;
    top: 2.2rem;
    right: 9.2rem;
    color: var(--color-main);
}

input {
    background: rgba(255,255,255,0.5);
    width: 60%;
    height: 30px;
    border-radius: 8px;
    color: var(--color-text);
    padding: 0.8rem 0.5rem;
    position: relative;
}

input::placeholder {
    color: var(--color-text);
}